<div>
    @if (@Session["taikhoan"] != null)
    {      
    <div class="option-item" style="margin-left:30px">
        <a href="/User/DangXuat" class="option-item">
            Đăng xuất
        </a>
    </div>          
    }
</div>
