
@{
    ViewBag.Title = "ForgetPassWord";
    Layout = "~/Views/Shared/_LayoutShare2.cshtml";
}

<div class="container mt-5">
    <div class="mx-auto col-md-6">
        <form action="#" method="post">
            <div class="form-group" style="text-align:center;border-radius:2px;border:1px">
                <h1 class="form-label">ResetPassWord</h1>
                <br />
                <label style="float:left">Email</label>
                <input placeholder="Vui lòng nhập Email" class="form-control" required type="email" name="txtemail" value=""  />
                <br />
                <button class="btn btn-success" type="submit">Reset password</button>
                <br />
                <span>@ViewBag.loi</span>
            </div>
    </form>
    </div>
</div>

