<div class="option-item">
    <div class="cart-btn">
        <a href="@Url.Action("HienThiGioHang", "GioHang")">
            <i class="flaticon-shopping-cart"></i>
            <span>@ViewBag.TongSoLuong</span>
        </a>
    </div>
</div>

@*<div class="option-item">
    <a href="@Url.Action("HienThiGioHang", "GioHang")" class="default-btn">
        Đặt hàng ngay     
    </a>
</div>*@
