USE [ThucAnNhanh]
GO
/****** Object:  Table [dbo].[BanAn]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanAn](
	[ID] [int] NOT NULL,
	[ViTri] [nvarchar](max) NULL,
	[TinhTrang] [int] NULL,
 CONSTRAINT [PK_BanAn] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BangGia]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangGia](
	[ID_MonAn] [int] NOT NULL,
	[NgayAD] [date] NOT NULL,
	[GiaBan] [bigint] NULL,
	[GiaKhuyenMai] [bigint] NULL,
 CONSTRAINT [PK_BangGia] PRIMARY KEY CLUSTERED 
(
	[ID_MonAn] ASC,
	[NgayAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[ID] [int] NOT NULL,
	[Description] [varchar](max) NULL,
 CONSTRAINT [PK_Banner] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[ID_HoaDon] [int] NOT NULL,
	[ID_MonAn] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[GiaBan] [bigint] NULL,
	[ThanhTien] [bigint] NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[ID_HoaDon] ASC,
	[ID_MonAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietOrder]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietOrder](
	[ID_Order] [int] NOT NULL,
	[ID_MonAn] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[GiaBan] [bigint] NULL,
	[ThanhTien] [bigint] NULL,
	[TinhTrang] [nvarchar](max) NULL,
 CONSTRAINT [PK_ChiTietOrder] PRIMARY KEY CLUSTERED 
(
	[ID_Order] ASC,
	[ID_MonAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[ID_PhieuNhap] [int] NOT NULL,
	[ID_NguyenLieu] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[GiaNhap] [bigint] NULL,
	[ThanhTien] [bigint] NULL,
 CONSTRAINT [PK_ChiTietPhieuNhap] PRIMARY KEY CLUSTERED 
(
	[ID_PhieuNhap] ASC,
	[ID_NguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_ManHinh]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_ManHinh](
	[ID] [int] NOT NULL,
	[TenManHinh] [nvarchar](max) NULL,
 CONSTRAINT [PK_DM_ManHinh] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[ID] [int] NOT NULL,
	[NgayLap] [datetime] NULL,
	[TongTien] [bigint] NULL,
	[ID_NhanVien] [char](13) NULL,
	[ID_KhachHang] [int] NULL,
	[ID_BanAn] [int] NULL,
	[TinhTrang] [nvarchar](50) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](max) NULL,
	[GioiTinh] [nvarchar](max) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SDT] [varchar](50) NULL,
	[DiemTichLuy] [int] NULL,
	[Email] [nvarchar](max) NULL,
	[MatKhau] [nvarchar](max) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiMonAn]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiMonAn](
	[ID] [int] NOT NULL,
	[TenLoaiMA] [nvarchar](max) NULL,
	[Anh] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoaiMonAn] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiNhanVien]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNhanVien](
	[ID] [int] NOT NULL,
	[TenLoaiNV] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoaiNhanVien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[ID] [int] NOT NULL,
	[TenMA] [nvarchar](max) NULL,
	[Anh] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
	[TinhTrang] [int] NULL,
	[ID_LoaiMA] [int] NULL,
	[GiaBan] [bigint] NULL,
	[GiaKhuyenMai] [bigint] NULL,
 CONSTRAINT [PK_MonAn] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieu]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieu](
	[ID] [int] NOT NULL,
	[TenNguyenLieu] [nvarchar](max) NULL,
	[DVT] [nvarchar](max) NULL,
	[SoLuongTon] [int] NULL,
 CONSTRAINT [PK_NguyenLieu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[ID] [char](13) NOT NULL,
	[TenNV] [nvarchar](max) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SDT] [char](10) NULL,
	[CMT] [char](12) NULL,
	[Anh] [nvarchar](max) NULL,
	[NgayVL] [date] NULL,
	[MatKhau] [varchar](50) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomNhanVien]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomNhanVien](
	[IDNV] [char](13) NOT NULL,
	[IDLoai] [int] NOT NULL,
 CONSTRAINT [PK_NhomNhanVien] PRIMARY KEY CLUSTERED 
(
	[IDNV] ASC,
	[IDLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] NOT NULL,
	[ID_KhachHang] [int] NULL,
	[TongTien] [bigint] NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SDT] [char](10) NULL,
	[TinhTrang] [nvarchar](max) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCong]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCong](
	[IDNV] [char](13) NOT NULL,
	[CaLam] [int] NOT NULL,
	[NgayLam] [date] NOT NULL,
	[DiemDanh] [nvarchar](max) NULL,
 CONSTRAINT [PK_PhanCong] PRIMARY KEY CLUSTERED 
(
	[IDNV] ASC,
	[CaLam] ASC,
	[NgayLam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[IDLoaiNV] [int] NOT NULL,
	[IDManHinh] [int] NOT NULL,
 CONSTRAINT [PK_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[IDLoaiNV] ASC,
	[IDManHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[ID] [int] NOT NULL,
	[NgayNhap] [datetime] NULL,
	[TongTienNhap] [bigint] NULL,
	[ID_NhanVien] [char](13) NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhPhanMonAn]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhPhanMonAn](
	[ID_MonAn] [int] NOT NULL,
	[ID_NguyenLieu] [int] NOT NULL,
	[DinhLuong] [int] NULL,
 CONSTRAINT [PK_ThanhPhanMonAn] PRIMARY KEY CLUSTERED 
(
	[ID_MonAn] ASC,
	[ID_NguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[ID] [char](10) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[NgayAD] [date] NULL,
	[NgayKT] [date] NULL,
	[SoLuong] [int] NULL,
	[Diem] [int] NULL,
 CONSTRAINT [PK_Voucher] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher_KhachHang]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher_KhachHang](
	[ID_Voucher] [char](10) NULL,
	[ID_KhachHang] [int] NULL,
	[NgayDoi] [date] NULL,
	[NgaySD] [date] NULL,
	[MaVoucher] [char](15) NOT NULL,
 CONSTRAINT [PK_Voucher_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaVoucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BanAn] ([ID], [ViTri], [TinhTrang]) VALUES (0, N'Tại quầy', 0)
INSERT [dbo].[BanAn] ([ID], [ViTri], [TinhTrang]) VALUES (1, N'Tầng Trệt', 1)
INSERT [dbo].[BanAn] ([ID], [ViTri], [TinhTrang]) VALUES (2, N'Tầng Trệt', 1)
GO
INSERT [dbo].[BangGia] ([ID_MonAn], [NgayAD], [GiaBan], [GiaKhuyenMai]) VALUES (1, CAST(N'2021-10-25' AS Date), 42000, 42000)
INSERT [dbo].[BangGia] ([ID_MonAn], [NgayAD], [GiaBan], [GiaKhuyenMai]) VALUES (2, CAST(N'2021-10-25' AS Date), 13200, 132000)
INSERT [dbo].[BangGia] ([ID_MonAn], [NgayAD], [GiaBan], [GiaKhuyenMai]) VALUES (3, CAST(N'2021-10-25' AS Date), 166000, 166000)
GO
INSERT [dbo].[Banner] ([ID], [Description]) VALUES (1, N'https://dscnnwjxnwl3f.cloudfront.net/media/banner/w/e/web_chiken.jpg')
INSERT [dbo].[Banner] ([ID], [Description]) VALUES (2, N'https://dscnnwjxnwl3f.cloudfront.net/media/banner/b/a/banner-1920x655-01_1.jpg')
INSERT [dbo].[Banner] ([ID], [Description]) VALUES (3, N'https://dscnnwjxnwl3f.cloudfront.net/media/banner/u/p/upsize-1920x655px-01.jpg')
GO
INSERT [dbo].[DM_ManHinh] ([ID], [TenManHinh]) VALUES (1, N'Màn hình chính')
INSERT [dbo].[DM_ManHinh] ([ID], [TenManHinh]) VALUES (2, N'Nhân  viên')
INSERT [dbo].[DM_ManHinh] ([ID], [TenManHinh]) VALUES (3, N'Danh sách nhân viên')
GO
INSERT [dbo].[HoaDon] ([ID], [NgayLap], [TongTien], [ID_NhanVien], [ID_KhachHang], [ID_BanAn], [TinhTrang]) VALUES (1, CAST(N'2021-11-29T00:00:00.000' AS DateTime), NULL, NULL, 0, 2, N'Chưa thanh toán')
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([ID], [TenKH], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [DiemTichLuy], [Email], [MatKhau]) VALUES (0, N'Khách vãng lai', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[KhachHang] ([ID], [TenKH], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [DiemTichLuy], [Email], [MatKhau]) VALUES (1, N'Trần Huyền Trang', N'Nữ', CAST(N'2000-01-02' AS Date), N'Bến Lức', N'0334125572', 15000, NULL, NULL)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
INSERT [dbo].[LoaiMonAn] ([ID], [TenLoaiMA], [Anh]) VALUES (1, N'GÀ GIÒN', NULL)
INSERT [dbo].[LoaiMonAn] ([ID], [TenLoaiMA], [Anh]) VALUES (2, N'BURGER', NULL)
INSERT [dbo].[LoaiMonAn] ([ID], [TenLoaiMA], [Anh]) VALUES (3, N'COMBO', NULL)
GO
INSERT [dbo].[LoaiNhanVien] ([ID], [TenLoaiNV]) VALUES (1, N'Quản Lý')
INSERT [dbo].[LoaiNhanVien] ([ID], [TenLoaiNV]) VALUES (2, N'Thu Ngân')
INSERT [dbo].[LoaiNhanVien] ([ID], [TenLoaiNV]) VALUES (3, N'Order')
GO
INSERT [dbo].[MonAn] ([ID], [TenMA], [Anh], [MoTa], [TinhTrang], [ID_LoaiMA], [GiaBan], [GiaKhuyenMai]) VALUES (1, N'1 miếng Gà Sốt Kem Tiêu', N'https://popeyes.vn/media/catalog/product/cache/1/thumbnail/285x225/9df78eab33525d08d6e5fb8d27136e95/g/k/gkt-1pc.jpg', N'1 miếng gà', 0, 1, 42000, 42000)
INSERT [dbo].[MonAn] ([ID], [TenMA], [Anh], [MoTa], [TinhTrang], [ID_LoaiMA], [GiaBan], [GiaKhuyenMai]) VALUES (2, N'Combo Gà Sốt Kem Tiêu - 1 người', N'https://popeyes.vn/media/catalog/product/cache/1/thumbnail/285x225/9df78eab33525d08d6e5fb8d27136e95/g/k/gkt-cb94.jpg', N'2 miếng gà sốt kem tiêu, 1 khoai tây chiên (vừa), 1 coca 390ml', 0, 3, 132000, 132000)
INSERT [dbo].[MonAn] ([ID], [TenMA], [Anh], [MoTa], [TinhTrang], [ID_LoaiMA], [GiaBan], [GiaKhuyenMai]) VALUES (3, N'Combo Gà Sốt Kem Tiêu - 2 người', N'https://popeyes.vn/media/catalog/product/cache/1/thumbnail/285x225/9df78eab33525d08d6e5fb8d27136e95/g/k/gkt-139.jpg', N'2 miếng gà sốt kem tiêu, 1 khoai tây chiên nghiền (vừa), 1 donut tôm, 4 snack cá / 3 snackmực', 0, 3, 166000, 166000)
GO
INSERT [dbo].[NguyenLieu] ([ID], [TenNguyenLieu], [DVT], [SoLuongTon]) VALUES (1, N'Đùi gà', N'Cái', 100)
INSERT [dbo].[NguyenLieu] ([ID], [TenNguyenLieu], [DVT], [SoLuongTon]) VALUES (2, N'Khoai tây', N'g', 1000)
INSERT [dbo].[NguyenLieu] ([ID], [TenNguyenLieu], [DVT], [SoLuongTon]) VALUES (3, N'Bánh hamburger', N'Cái', 100)
GO
INSERT [dbo].[NhanVien] ([ID], [TenNV], [NgaySinh], [GioiTinh], [DiaChi], [SDT], [CMT], [Anh], [NgayVL], [MatKhau], [TrangThai]) VALUES (N'OD020221NV001', N'Phạm Ngọc Quỳnh', CAST(N'1998-04-21' AS Date), N'Nữ', N'A3/55/20 Bình Hưng Hòa X Quận Tân Phú TPHCM', N'0338235472', N'146273925   ', N'https://media-cdn.laodong.vn/storage/newsportal/2021/10/10/962246/Suzy3-01.jpg?w=960&crop=auto&scale=both', CAST(N'2021-02-21' AS Date), N'Quynh@123', 1)
INSERT [dbo].[NhanVien] ([ID], [TenNV], [NgaySinh], [GioiTinh], [DiaChi], [SDT], [CMT], [Anh], [NgayVL], [MatKhau], [TrangThai]) VALUES (N'QL011021NV003', N'Trần Ngọc Đạt', CAST(N'2000-12-20' AS Date), N'Nam', N'Đường số 6, Tân Bình', N'0338766656', N'328900987   ', N'https://htmediagroup.vn/wp-content/uploads/2021/07/anh-profile-nu-1.jpg', CAST(N'2021-10-01' AS Date), N'D@t20122000', 1)
INSERT [dbo].[NhanVien] ([ID], [TenNV], [NgaySinh], [GioiTinh], [DiaChi], [SDT], [CMT], [Anh], [NgayVL], [MatKhau], [TrangThai]) VALUES (N'QL101021NV002', N'Phạm Mộng Kha', CAST(N'2000-06-05' AS Date), N'Nữ', N'Đường số 3, Bình Hưng Hòa A, quận Tân Phú', N'0334643256', N'023648292   ', N'https://htmediagroup.vn/wp-content/uploads/2021/07/anh-profile-nu-1.jpg', CAST(N'2021-10-10' AS Date), N'Kh@562000', 1)
GO
INSERT [dbo].[PhanQuyen] ([IDLoaiNV], [IDManHinh]) VALUES (1, 1)
INSERT [dbo].[PhanQuyen] ([IDLoaiNV], [IDManHinh]) VALUES (1, 2)
INSERT [dbo].[PhanQuyen] ([IDLoaiNV], [IDManHinh]) VALUES (1, 3)
GO
INSERT [dbo].[ThanhPhanMonAn] ([ID_MonAn], [ID_NguyenLieu], [DinhLuong]) VALUES (1, 1, 1)
INSERT [dbo].[ThanhPhanMonAn] ([ID_MonAn], [ID_NguyenLieu], [DinhLuong]) VALUES (2, 1, 2)
INSERT [dbo].[ThanhPhanMonAn] ([ID_MonAn], [ID_NguyenLieu], [DinhLuong]) VALUES (2, 2, 300)
GO
ALTER TABLE [dbo].[BangGia]  WITH CHECK ADD  CONSTRAINT [FK_BangGia_MonAn] FOREIGN KEY([ID_MonAn])
REFERENCES [dbo].[MonAn] ([ID])
GO
ALTER TABLE [dbo].[BangGia] CHECK CONSTRAINT [FK_BangGia_MonAn]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_MonAn] FOREIGN KEY([ID_MonAn])
REFERENCES [dbo].[MonAn] ([ID])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_MonAn]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_ChiTietHoaDon] FOREIGN KEY([ID_HoaDon])
REFERENCES [dbo].[HoaDon] ([ID])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_HoaDon_ChiTietHoaDon]
GO
ALTER TABLE [dbo].[ChiTietOrder]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietOrder_MonAn] FOREIGN KEY([ID_MonAn])
REFERENCES [dbo].[MonAn] ([ID])
GO
ALTER TABLE [dbo].[ChiTietOrder] CHECK CONSTRAINT [FK_ChiTietOrder_MonAn]
GO
ALTER TABLE [dbo].[ChiTietOrder]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietOrder_Order] FOREIGN KEY([ID_Order])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[ChiTietOrder] CHECK CONSTRAINT [FK_ChiTietOrder_Order]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhap_NguyenLieu] FOREIGN KEY([ID_NguyenLieu])
REFERENCES [dbo].[NguyenLieu] ([ID])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_ChiTietPhieuNhap_NguyenLieu]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhap_PhieuNhap] FOREIGN KEY([ID_PhieuNhap])
REFERENCES [dbo].[PhieuNhap] ([ID])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_ChiTietPhieuNhap_PhieuNhap]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_BanAn] FOREIGN KEY([ID_BanAn])
REFERENCES [dbo].[BanAn] ([ID])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_BanAn]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([ID_KhachHang])
REFERENCES [dbo].[KhachHang] ([ID])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([ID_NhanVien])
REFERENCES [dbo].[NhanVien] ([ID])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD  CONSTRAINT [FK_MonAn_LoaiMonAn] FOREIGN KEY([ID_LoaiMA])
REFERENCES [dbo].[LoaiMonAn] ([ID])
GO
ALTER TABLE [dbo].[MonAn] CHECK CONSTRAINT [FK_MonAn_LoaiMonAn]
GO
ALTER TABLE [dbo].[NhomNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhomNhanVien_LoaiNhanVien] FOREIGN KEY([IDLoai])
REFERENCES [dbo].[LoaiNhanVien] ([ID])
GO
ALTER TABLE [dbo].[NhomNhanVien] CHECK CONSTRAINT [FK_NhomNhanVien_LoaiNhanVien]
GO
ALTER TABLE [dbo].[NhomNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhomNhanVien_NhanVien] FOREIGN KEY([IDNV])
REFERENCES [dbo].[NhanVien] ([ID])
GO
ALTER TABLE [dbo].[NhomNhanVien] CHECK CONSTRAINT [FK_NhomNhanVien_NhanVien]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_KhachHang] FOREIGN KEY([ID_KhachHang])
REFERENCES [dbo].[KhachHang] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_KhachHang]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_PhanCong] FOREIGN KEY([IDNV])
REFERENCES [dbo].[NhanVien] ([ID])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCong_PhanCong]
GO
ALTER TABLE [dbo].[PhanQuyen]  WITH CHECK ADD  CONSTRAINT [FK_PhanQuyen_DM_ManHinh] FOREIGN KEY([IDManHinh])
REFERENCES [dbo].[DM_ManHinh] ([ID])
GO
ALTER TABLE [dbo].[PhanQuyen] CHECK CONSTRAINT [FK_PhanQuyen_DM_ManHinh]
GO
ALTER TABLE [dbo].[PhanQuyen]  WITH CHECK ADD  CONSTRAINT [FK_PhanQuyen_LoaiNhanVien] FOREIGN KEY([IDLoaiNV])
REFERENCES [dbo].[LoaiNhanVien] ([ID])
GO
ALTER TABLE [dbo].[PhanQuyen] CHECK CONSTRAINT [FK_PhanQuyen_LoaiNhanVien]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhanVien] FOREIGN KEY([ID_NhanVien])
REFERENCES [dbo].[NhanVien] ([ID])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhanVien]
GO
ALTER TABLE [dbo].[ThanhPhanMonAn]  WITH CHECK ADD  CONSTRAINT [FK_ThanhPhanMonAn_MonAn] FOREIGN KEY([ID_MonAn])
REFERENCES [dbo].[MonAn] ([ID])
GO
ALTER TABLE [dbo].[ThanhPhanMonAn] CHECK CONSTRAINT [FK_ThanhPhanMonAn_MonAn]
GO
ALTER TABLE [dbo].[ThanhPhanMonAn]  WITH CHECK ADD  CONSTRAINT [FK_ThanhPhanMonAn_NguyenLieu] FOREIGN KEY([ID_NguyenLieu])
REFERENCES [dbo].[NguyenLieu] ([ID])
GO
ALTER TABLE [dbo].[ThanhPhanMonAn] CHECK CONSTRAINT [FK_ThanhPhanMonAn_NguyenLieu]
GO
ALTER TABLE [dbo].[Voucher_KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_Voucher_KhachHang_KhachHang] FOREIGN KEY([ID_KhachHang])
REFERENCES [dbo].[KhachHang] ([ID])
GO
ALTER TABLE [dbo].[Voucher_KhachHang] CHECK CONSTRAINT [FK_Voucher_KhachHang_KhachHang]
GO
ALTER TABLE [dbo].[Voucher_KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_Voucher_KhachHang_Voucher] FOREIGN KEY([ID_Voucher])
REFERENCES [dbo].[Voucher] ([ID])
GO
ALTER TABLE [dbo].[Voucher_KhachHang] CHECK CONSTRAINT [FK_Voucher_KhachHang_Voucher]
GO
/****** Object:  Trigger [dbo].[deleteGiaBan]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[deleteGiaBan] on [dbo].[BangGia]
for delete
as
update MonAn
SET GiaBan = (select GiaBan from BangGia where ID_MonAn = (select ID from deleted) and NgayAD >= (SELECT MAX(NgayAD) FROM BangGia WHERE ID = ID_MonAn)), GiaKhuyenMai = (select GiaKhuyenMai from BangGia where ID_MonAn = (select ID from deleted) and NgayAD >= (SELECT MAX(NgayAD) FROM BangGia WHERE ID = ID_MonAn))
				where ID = (select ID_MonAn from deleted)
GO
ALTER TABLE [dbo].[BangGia] ENABLE TRIGGER [deleteGiaBan]
GO
/****** Object:  Trigger [dbo].[updateGiaBan]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  trigger [dbo].[updateGiaBan] on [dbo].[BangGia]
for insert, update
as
update MonAn
SET GiaBan = (select GiaBan from BangGia where ID_MonAn = (select ID from inserted) and NgayAD >= (SELECT MAX(NgayAD) FROM BangGia WHERE ID = ID_MonAn)),GiaKhuyenMai = (select GiaKhuyenMai from BangGia where ID_MonAn = (select ID from inserted) and NgayAD >= (SELECT MAX(NgayAD) FROM BangGia WHERE ID = ID_MonAn))
				where ID = (select ID_MonAn from inserted)
GO
ALTER TABLE [dbo].[BangGia] ENABLE TRIGGER [updateGiaBan]
GO
/****** Object:  Trigger [dbo].[updateTongTienHD]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create trigger [dbo].[updateTongTienHD]
on [dbo].[ChiTietHoaDon]
for update, insert
as
update HoaDon
set TongTien=(select sum(ThanhTien) from ChiTietHoaDon where ID_HoaDon=(select ID_HoaDon from inserted))
where ID=(select ID_HoaDon from inserted)
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ENABLE TRIGGER [updateTongTienHD]
GO
/****** Object:  Trigger [dbo].[updateTongTienHDXoa]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[updateTongTienHDXoa]
on [dbo].[ChiTietHoaDon]
for delete
as
update HoaDon
set TongTien=(select sum(ThanhTien) from ChiTietHoaDon where ID_HoaDon = (select ID_HoaDon from deleted))
where ID=(select ID_HoaDon from deleted)
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ENABLE TRIGGER [updateTongTienHDXoa]
GO
/****** Object:  Trigger [dbo].[updateTongTienNhapPN]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[updateTongTienNhapPN]
on [dbo].[ChiTietPhieuNhap]
for update, insert
as
update PhieuNhap
set TongTienNhap =(select sum(ThanhTien) from ChiTietPhieuNhap where ID_PhieuNhap=(select ID_PhieuNhap from inserted))
where ID=(select ID_PhieuNhap from inserted)
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] ENABLE TRIGGER [updateTongTienNhapPN]
GO
/****** Object:  Trigger [dbo].[updateTongTienNhapPNXoa]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[updateTongTienNhapPNXoa]
on [dbo].[ChiTietPhieuNhap]
for delete
as
update PhieuNhap
set TongTienNhap=(select sum(ThanhTien) from [ChiTietPhieuNhap] where ID_PhieuNhap = (select ID_PhieuNhap from deleted))
where ID=(select ID_PhieuNhap from deleted)
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] ENABLE TRIGGER [updateTongTienNhapPNXoa]
GO
/****** Object:  Trigger [dbo].[insertMonAninsertBangGia]    Script Date: 2021-12-01 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[insertMonAninsertBangGia] on [dbo].[MonAn]
for insert
as
insert BangGia(ID_MonAn, NgayAD, GiaBan, GiaKhuyenMai)  (select ID, GETDATE(), GiaBan, GiaKhuyenMai from inserted)
GO
ALTER TABLE [dbo].[MonAn] ENABLE TRIGGER [insertMonAninsertBangGia]
GO
